@id("allow_one")
permit(principal is Jans::Workload, action == Jans::Action::"GET", resource is Jans::HTTP_Request) when { ((principal has "access_token") && ((principal["access_token"]) has "scope")) && (((principal["access_token"])["scope"]).contains("profile")) };