@id("allow_one")
permit(
  principal is Jans::User,
  action == Jans::Action::"Read",
  resource is Jans::Application
)
when {
   principal has id_token.acr &&
   principal.id_token.acr == "agama_io.jans.agamaLab.main"
};