@id("allow_one")
permit(
  principal is Jans::User,
  action == Jans::Action::"Read",
  resource is Jans::Application
)
when {
   principal has userinfo_token.role &&
   principal.userinfo_token.role.contains("developer")
};