@id("allow_supreme_ruler")
permit (
  principal is Jans::User,
  action,
  resource
)
when {
  principal has userinfo_token.role &&
  principal.userinfo_token.role.contains("SupremeRuler")
};