@id("")
permit(principal is demoStore::User, action == demoStore::Action::"Read", resource is demoStore::Application) when { (principal["role"]).contains("role1") };